/*
//  ######
//  #     #   ##    ####  ######  ####
//  #     #  #  #  #    # #      #
//  ######  #    # #      #####   ####
//  #       ###### #  ### #           #
//  #       #    # #    # #      #    #
//  #       #    #  ####  ######  ####
*/

/***************/
/*  HOME PAGE  */
/***************/

body#home #header { border-bottom: 1px solid #333; }
body#home #header .logo a { opacity: 1 !important; }

body#home #banner {
	height: 248px;
	background: url('../images/backgrounds/banner.jpg') left top repeat;
}

	body#home #banner p {
		color: #fff;
		clear: left;
		padding-top: 160px;
		text-align: center;
		font-size: 48px;
		font-family: 'Archer-Semibold';
		text-shadow: 0 1px 2px rgba(0,0,0,0.6);
		line-height: 46px;
	}

		body#home #banner p em {
			color: #ffb400;
			font-style: normal;
			font-family: 'Archer-SemiboldItalic';
		}

		body#home #banner p small {
			display: block;
			font-family: 'Candara';
			color: #999;
			font-size: 20px;
		}

body#home #content { border-top: 1px solid #333; }

body#home .box.left { width: 650px; margin: 20px 0; padding: 0; }
body#home .box.right { width: 270px; margin: 20px 0; padding: 0 0 0 39px; border-left: 1px solid #333; }

body#home .box ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

	body#home .box li {
		display: block;
		float: left;
		width: 210px;
		list-style: none;
		padding: 10px 0 10px 80px;
		margin: 5px 35px 5px 0;
		font-size: 14px;
		background-position: 5px 15px;
		background-repeat: no-repeat;
		line-height: 1.4em;
		color: #999;
	}

		body#home .box li strong {
			display: block;
			text-transform: uppercase;
			color: #fff;
		}

			body#home .box li#usability { background-image: url('../images/icons/signpost.png'); }
			body#home .box li#accessibility { background-image: url('../images/icons/displays.png'); background-position: 0 15px; }
			body#home .box li#functionality { background-image: url('../images/icons/gears.png'); clear: left; }
			body#home .box li#aesthetics { background-image: url('../images/icons/palette.png'); }

.box.right p {
	font-size: 14px;
	line-height: 1.4em;
	color: #999;
}

	.box.right strong {
		color: #fff;
	}

/***********/
/*  ABOUT  */
/***********/

body#about .image {
	float: right;
	background: rgba(0,0,0,0.2);
	padding: 10px;
	margin: 0 0 30px 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

	body#about .image img { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

body#about p {
	color: #aaa;
	padding: 15px 0;
}

body#about strong {
	font-weight: normal;
}

body#about .content .wrapper { padding-bottom: 25px; }

/**************/
/*  SERVICES  */
/**************/

.services { margin-top: 15px; }

.services .box {
	float: left;
	width: 430px;
	padding: 15px 25px 0 15px;
	background: rgba(0,0,0,0.15);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 20px 20px;
}

	.services .box:nth-child(2n+1) {
		margin-left: 0;
	}

	.services .box h3 {
		padding: 5px 0;
		color: #fff;
		text-shadow: 0 1px 0 rgba(0,0,0,0.2);
		font-style: normal;
		font-size: 16px;
		font-family: inherit;
		font-weight: bold;
		text-transform: uppercase;
	}

	.services .box p {
		font-size: 14px;
		color: #999;
		padding-bottom: 0;
	}

	.services .box .image {
		float: left;
		width: 160px;
		height: 200px;
		margin-right: 20px;
		margin-bottom: 15px;
		opacity: .4;
		-moz-transition: 120ms linear all;
		-webkit-transition: 120ms linear all;
		transition: 120ms linear all;
	}

		.services .box .image img {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

	.services .image:hover,
	.services .image:focus {
		opacity: 1;
	}

/***************/
/*  PORTFOLIO  */
/***************/

body#portfolio .content {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 75px;
	border-top: 1px solid #333;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	background: none;
}


body#portfolio .content .wrapper { overflow: visible; }

.portfolio { width: 100%; overflow: visible !important; }

.portfolio .item {
	width: 960px;
	height: 676px;
	-moz-transition: 100ms linear opacity;
	-webkit-transition: 100ms linear opacity;
	transition: 100ms linear opacity;
}

.portfolio .item.next-slide {
	left: 960px !important;
}

.portfolio .item.showing { display: block !important; opacity: .1 !important; }
.portfolio .item.active { opacity: 1 !important; box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); }

	.portfolio .item h3 {
		opacity: .1;
		position: absolute;
		top: -68px;
		left: 0;
		width: 835px;
		height: 60px;
		line-height: 60px;
		font-family: 'Archer-Semibold';
		font-weight: normal;
		padding: 0;
	    color: #fff;
	    font-size: 28px;
	    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	    z-index: 2;
	    text-transform: none;
	}

		.portfolio .item.active h3 { display: block; opacity: 1; }

	.portfolio .item ul {
		opacity: .5;
		position: absolute;
		top: -68px;
		right: 70px;
		padding: 0;
		margin: 0;
		text-align: right;
	}

		.portfolio .item ul li {
			display: inline-block;
			font-size: 14px;
			color: #eee;
			padding-left: 18px;
			margin: 20px 10px 0;
			background: url('../images/icons/check.png') left 5px no-repeat;
		}

		.portfolio .item.active ul { display: block; opacity: 1; }

	.portfolio .item img {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

.pager {
	display: block;
	position: absolute;
	top: -60px;
	left: 0;
	width: 40px;
	font-size: 32px;
	line-height: 1;
	padding: 6px 0 6px 2px;
	background: #FFB400;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #5d4203;
	font-family: 'Archer-Bold';
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	cursor: hand;
	cursor: pointer;
	z-index: 9999;
}

	.pager:hover,
	.pager:focus { background: #235BDC; color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.5); text-decoration: none; }

	.pager:active { margin-top: 1px; }

	.pager#next-link { right: 0; left: auto; }

body#portfolio #footer { border-top: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

/****************/
/*  CONTACT US  */
/****************/

body#contact .box ul {
	margin: 0;
}

	body#contact .box ul li {
		list-style: none;
		font-size: 14px;
		line-height: 1.2em;
		color: #999;
		}

		body#contact .box ul li.snail,
		body#contact .box ul li a {
			display: block;
			margin: 1px 0;
			padding: 10px 0 10px 40px;
			background-position: 10px 11px;
			background-repeat: no-repeat;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			width: 160px;
		}

		body#contact .box ul li a { color: #fff; }
		body#contact .box ul li a:hover,
		body#contact .box ul li a:focus { background-color: #235BDC; text-decoration: none; }

		body#contact .box ul li.email a { background-image: url('../images/icons/airplane.png'); }
		body#contact .box ul li.snail { background-image: url('../images/icons/pin.png'); }
		body#contact .box ul li.basecamp a { background-image: url('../images/icons/files.png'); }
		body#contact .box ul li.freshbooks a { background-image: url('../images/icons/price.png'); }
